KEYCLOAK_USER=keycloak
KEYCLOAK_PASSWORD=password

DEBUG=true
DEBUG_PORT='8787'

DB_VENDOR=POSTGRES
DB_ADDR=postgres_auth
DB_PORT=5432
DB_DATABASE=keycloak

# Needs to match database.dev.env (POSTGRES_USER and POSTGRES_PASSWORD)
DB_USER=keycloak
DB_PASSWORD=password

TZ=Europe/London
